<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ejercicio de maquetación</title>

    <link rel="stylesheet" href="./css/SCSS.css">

</head>

<body>

    <nav class="offcanvas">
        <h3>Seccion 1</h3>
        <h3>Seccion 2</h3>
        <h3>Seccion 3</h3>
        <ul>
            <li><a href="#">Opcion 1</a></li>
            <li><a href="#">Opcion 2</a></li>
            <li><a href="#">Opcion 3</a></li>
            <li><a href="#">Opcion 4</a></li>
        </ul>
        <h3>Seccion 1</h3>
        <h3>Seccion 2</h3>
        <h3>Seccion 3</h3>
        <ul>
            <li><a href="#">Opcion 1</a></li>
            <li><a href="#">Opcion 2</a></li>
            <li><a href="#">Opcion 3</a></li>
            <li><a href="#">Opcion 4</a></li>
        </ul>
        <h3>Seccion 1</h3>
        <h3>Seccion 2</h3>
        <h3>Seccion 3</h3>
        <ul>
            <li><a href="#">Opcion 1</a></li>
            <li><a href="#">Opcion 2</a></li>
            <li><a href="#">Opcion 3</a></li>
            <li><a href="#">Opcion 4</a></li>
        </ul>
    </nav>

    <header>
        <img src="https://picsum.photos/250/75" alt="logo">

        <p>Titulo de pagina</p>

        <nav>
            <ul>
                <li><a href="#" id="enlace_megamenu">Megamenu</a></li>

            </ul>

            <ul>
                <li>Menu
                    <ul class="submenu">
                        <li><a href="#">Opcion 1</a></li>
                        <li><a href="#">Opcion 2</a></li>
                        <li><a href="#">Opcion 3</a></li>
                        <li><a href="#">Opcion 4</a></li>
                        <li><a href="#">Opcion 5</a></li>
                    </ul>
                </li>
                <li><a href="#">Opcion 1</a></li>
                <li><a href="#">Opcion 2</a></li>
                <li><a href="#">Opcion 3</a></li>

            </ul>
            <ul>
                <li><a href="#" id="menu_usuario">Menu usuario</a>
                    
                </li>
            </ul>
            </ul>

        </nav>

        <nav class="megamenu">
            <p>Lorem ipsum dolor sit amet consectetur, aar!</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cum quaerat earum! Cumque laborum
                dolores maiores officiis ipsam neque ut provident alias a rem quisquam, fugiat natus at commodi labore.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore ipsam pariatur aperiam adipisci a quo
                molestiae ut dolor libero beatae voluptatem minima, nostrum vitae quisquam nobis, harum, est vel
                mollitia!</p>
            <ul>

                <li><a href="#">megamenu opcion1</a></li>
                <li><a href="#">megamenu opcion2</a></li>
                <li><a href="#">megamenu opcion3</a></li>
            </ul>


        </nav>

    </header>



    <main>

        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eaque quod mollitia. Magni reiciendis quo aliquid placeat saepe nostrum deleniti aperiam a, nobis quibusdam accusantium delectus odit eius laudantium vitae?</h1>
        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tenetur accusamus esse perferendis at ab praesentium voluptates blanditiis deserunt soluta ipsa sunt natus, rerum ipsam ipsum! Ut ratione saepe neque!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae numquam tempore sed ratione sapiente, itaque, magni quos hic esse exercitationem rem. Eum amet unde quae illum voluptas nam perferendis delectus!</h1>
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum deleniti iusto dignissimos perferendis doloribus alias quibusdam, ab officiis odio harum illo ipsa mollitia. Dolorem repellat quis consequuntur facilis ducimus sit.</h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>

    </main>

    <footer>

        Mady by Iker &copy; 2023

    </footer>

    <script src="../template/js/JS.js"></script>

</body>

</html>