$paddingheader: 1rem;

* {
    outline: solid red;
}

h1 {

    font-family: Arial, Helvetica, sans-serif;

}

footer {

    text-align: center;

}



header {

    display: flex;
    flex-direction: column;
    align-items: center;

    img {

        height: 75px;
        margin: 5px;
        align-self: center;

    }

    nav {

        align-self: stretch;
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;


            li {

                padding: $paddingheader;
                position: relative;

                &:hover {

                    text-shadow: 2px, 2px, 3px lightblue;

                    background-color: darkgray;

                }

            }

        }

        ul li:hover ul.submenu {
            display: flex;
            min-width: 30rem;

            &.izq {
                right: 0;
                left: auto;
            }
        }

        ul.submenu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 3.5*$paddingheader;
            left: 0;
            background: black;
        }


        a {
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
            height: 100%;

            &hover {
                text-shadow: 2px 2px 3px black;
                background-color: darkgrey;
            }
        }

       

    }
    nav.megamenu {
        padding: 1rem;
        gap: 5rem;
        display: none;

        &.reveal {
            display: flex;

        }

    }

}

nav.offcanvas {
    padding: $paddingheader*2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 1.5rem;
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9;
    background-color: blue;
    color: white;
    margin-left:-20rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a{
        color: white;
    }
}

nav.offcanvas.reveal{
    margin-left: 0;
}